*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

svg{
    position: absolute;
    width: 400px;
    fill: none;
}

svg path{
    d: path("M0, 25 C150,110 150, -60 300,25");
    stroke: #ff3136;
    stroke-width: 50;
    stroke-linecap: round;
    transform: translate(50px, 50%);
    animation: animate-svg 2s ease-in-out infinite;
}

@keyframes animate-svg {
    0%{
        stroke: #ff3136;
        d: path("M0, 25 C150,110 150,-60 300,25");
    }

    50%{
        stroke: #54ff3a;
        d: path("M0, 25 C160,-50 140,110 300,25");
    }
}

svg:nth-child(2){
    filter: blur(40px);
}